/node_modules
/public/hot
/public/storage
/public/student
/public/users
/public/media_library
/public/courses
/public/unit
/public/lesson
/public/comments
/public/quiz
/public/quizmcq
/public/quizdots
/public/quizsen
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode