body {
	padding: 0;
	margin: 0;
	background: #fff;
	font-family: 'Comfortaa', cursive;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.5);
}

a {
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

button:hover,
button:focus,
input,
input:hover,
input:focus {
	outline: none;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.commonbtn,
a.commonbtn  {
	color: #fff;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	border-radius: 28px;
	padding:10px 14px;
	background-color: #8c1730;
	border: 6px solid rgba(0, 0, 0, 0.2);
	-moz-background-clip: border;
	-webkit-background-clip: border;
	background-clip: border-box;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
	-moz-background-clip: content;
	-webkit-background-clip: content;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	display: inline-block;
	margin: 20px 0 0 0;
}

a.commonbtn {
  margin:10px 5px;
}

.commonbtn .fa,
a.commonbtn .fa {
	margin-left: 10px;
}

.commonbtn:hover,
a.commonbtn:hover  {
	background-color: #620a21;
}

img {
	max-width: 100%;
}

.padd100 {
	padding-top: 100px;
	padding-bottom: 100px;
}


/*header*/

header {
	background: #f8f8f8;
	padding: 15px 0;
	display: block;
	position: relative;
	z-index: 99;
}
.logo img{max-height:40px;}
.loginbox {
	margin:9px 0 0 0;
}

.loginbox li{display:inline-block; position:relative; margin:0 0 0 30px;}
.loginbox li a{color:#620a21; line-height:38px;}
.loginbox li figure{width:38px; height:38px; border-radius:100%; -webkit-border-radius:100%; overflow:hidden;
display:inline-block; float:left; margin:0 10px 0 0;padding:0; position: relative;
top: -3px;}
.loginbox li a .fa{font-size:22px;}
.loginbox li span{display:inline-block; padding:3px 5px; border-radius:8px; -webkit-border-radius:8px; 
color:#fff; line-height:10px; font-size:10px; position:absolute;  top: -5px; right: -8px; background:rgba(0, 0, 0, 0.7);} 
.loginbox li ul.submenu{display:none; position:absolute; top:100%; background: #8c1730;}
.loginbox li:hover ul.submenu{display:block; text-align:left; width:180px; right:0;}
.loginbox li ul li{border-bottom:1px solid #620a21; display:block; margin:0;}
.loginbox li ul li:hover{  background:#620a21;}
.loginbox li ul.submenu a	{
			padding: 12px;
			line-height:15px;
color: #fff;
display:block;
letter-spacing: 0.1em;
font-size: 14px;
font-weight:700;
	text-transform:capitalize;}
.loginbox li ul.submenu a .fa{font-size:15px;}
/******left sidebar***/
.left-side{
background: #8c1730;
border-right: none;
width: 250px;
float:left;
}
.sidebar {
    min-height: 100vh;
    display: block;
    width: 250px;
}
.sidebar ul li{
border-bottom:1px solid #620a21;
}

.sidebar ul li a{
	padding: 12px;
color: #fff;
display:block;
letter-spacing: 0.1em;
font-size: 14px;
font-weight:700;
text-transform:capitalize;
}
.sidebar ul li a:hover,
.sidebar ul li.active a{
  background:#620a21;
}

/***********Content section******/
.right-side {
  width:calc(100% - 250px);
  position:relative;
max-width: 100vw;
float:right;
display:inline-block;
 }
.content-header{
 padding:15px;
  
  }
  
  .content-header h1{
   color: rgba(0, 0, 0, 0.7);
  font-size:30px;
  padding:0;
  margin:0;
    }
	
	.breadcrumb a{margin-right:15px; position:relative; color:#620a21; }
	.breadcrumb a:hover{color: rgba(0, 0, 0, 0.7);}
	.breadcrumb a:after{	content: "\f105";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	color: rgba(0, 0, 0, 0.7);
	font-size: 20px;
	position: absolute;
	top: -7px;
	right: -15px;}
	
.formdesign .input-group {
    position: relative;
    width: 100%;
}
.formdesign	.image-preview-input {
    position: absolute;
	right:0;
	top:0;
    overflow: hidden;
    margin: 0px;
        margin-left: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.formdesign	.image-preview-input input{
z-index: 55;
opacity: 0;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;}

.checkborow .checknumber{position:relative;}
.checkborow .checknumber input{position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; z-index:55;}
.checkborow .checknumber label{position:relative; padding:0 0 0 20px; color:rgba(0,0,0,0.70);}
.checkborow .checknumber label:before{position:absolute; left:0; top:2px;
width:15px; height:15px; border:2px solid #ccc; content:"";
}
.checkborow .checknumber input[type="checkbox"]:checked + label:after{
	color:#620a21;
	position:absolute;
	  content: "\f00c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
	line-height:15px;
	width:15px;
	height:15px;
	text-align:center;
	left:0;
	top:2px;
}

.radiorow .radiobtn{position:relative;}
.radiorow .radiobtn input{position:absolute; left:0; top:0; width:100%; height:100%; opacity:0; z-index:55;}
.radiorow .radiobtn label{position:relative; padding:0 0 0 20px; color:rgba(0,0,0,0.70);}
.radiorow .radiobtn label:before{position:absolute; left:0; top:2px;
width:15px; height:15px; border:2px solid #ccc; content:""; border-radius:100%; -webkit-border-radius:100%;
}
.radiorow .radiobtn input[type="radio"]:checked + label:after{
	background:#620a21;
	content:"";
	position:absolute;
	line-height:15px;
	width:9px;
	height:9px;
	text-align:center;
	left:3px;
	border-radius:100%; -webkit-border-radius:100%;
	top:5px;
}